<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css">
    <link rel="stylesheet" href="{{  url_for('static',filename='css/style.css') }}">
    <title>
      FMT IoT{% if title %} - {{ title }}{% endif %}
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand" href="{{ url_for('index') }}" style="font-size: 2.5rem;">FMT IoT Suite Plus</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarMT">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a id="index" class="nav-link" href="{{ url_for('index') }}">Home</a></li>
          {% if current_user.is_anonymous %}
          <li></li>
          {% else %}
          <li class="nav-item"><a id="firmware" class="nav-link" href="{{ url_for('firmware') }}">Firmware</a></li>
          <li class="nav-item"><a id="users" class="nav-link" href="{{ url_for('users') }}">Users</a></li>
          <!-- <li class="nav-item"><a id="groups" class="nav-link" href="{{ url_for('groups') }}">Groups</a></li> -->
          {% endif %}
        </ul>
        <ul class="navbar-nav navbar-right">
          {% if current_user.is_anonymous %}
          <li class="nav-item"><a id="login" class="nav-link" href="{{ url_for('login') }}">Login</a></li>
          {% else %}
          <li class="nav-item"><a id="logout" class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>


    <div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {%for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% endwith %}
      {% block app_content %} {% endblock %}
    </div>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
  </body>
</html>
